<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015466010970-u0bham7n4500os597e1rt6uf5dmkkequ.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015466010970-u0bham7n4500os597e1rt6uf5dmkkequ</string>
	<key>API_KEY</key>
	<string>AIzaSyA8QfCEomFF2g806sV2CMDjaOmC8acC1NE</string>
	<key>GCM_SENDER_ID</key>
	<string>1015466010970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hasan.Loodos-CaseStudy</string>
	<key>PROJECT_ID</key>
	<string>loodos-b4d32</string>
	<key>STORAGE_BUCKET</key>
	<string>loodos-b4d32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015466010970:ios:f2ffe4e6475a0b5bb5eb63</string>
</dict>
</plist>